@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "react-alice-carousel/lib/alice-carousel.css";
@import "~react-image-gallery/styles/css/image-gallery.css"; */

@font-face {
  font-family: shabnam;
  src: url("../../public//fonts//Shabnam-Light-FD-WOL.woff") format("woff"),
    url("../../public//fonts/Shabnam-Medium-FD-WOL.woff2") format("woff2");

  font-style: normal;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  font-family: shabnam !important;
  direction: rtl;
}

.react-slick * {
  min-height: 0;
  min-width: 0;
}

.react-slick .slick-prev,
.react-slick .slick-next {
  background-color: rgb(187, 184, 184);
  border-radius: 10px;
}

.react-slick .fluid__instructions {
  margin-top: 30px;
}

@media (min-width: 480px) {
  .react-slick .fluid__image-container {
    margin: 40px;
  }

  .react-slick .fluid__instructions {
    margin: 0 20px;
    padding-top: 20px;
  }
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}