@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";
@import "~react-image-gallery/styles/css/image-gallery.css";
@font-face {
    font-family: shabnam;
    src: url(../public//fonts//Shabnam.woff2);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    background-color: #F1F1F1;
    font-family: shabnam;
    direction: rtl;
}

.react-slick * {
    min-height: 0;
    min-width: 0;
}

.react-slick .slick-prev,
.react-slick .slick-next {
    background-color: rgb(187, 184, 184);
    border-radius: 10px;
}

.react-slick .fluid__instructions {
    margin-top: 30px;
}

@media (min-width: 480px) {
    .react-slick .fluid__image-container {
        margin: 40px;
    }
    .react-slick .fluid__instructions {
        margin: 0 20px;
        padding-top: 20px;
    }
}